$header_font: 'Merriweather', serif;
$body_font: 'Work Sans', sans-serif;

.header-font { font-family: $header_font; }
.body-font { font-family: $body_font; } 


$text-shadow-1: 3px 2px 6px #000000e0;
.text-shadow-1 { text-shadow: $text-shadow-1; } 
.box-shadow-1 { box-shadow: 10px 13px 20px #0000005c; }

.bg-black-opaque-1 { background-color: rgba(0, 0, 0, 0.511); }

.bg-orange-1 { background-color: #DC3545 !important; } 